<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../static/css/images/insta-logo.png" width="30" height="20">
    </a>

    
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
    
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{%url 'welcome'%}">
      <i class="material-icons">home</i>
        Home
      </a>
      
      <a class="navbar-item" href="{% url 'profile'%}">
        <i class="material-icons">face</i>
        Profile
      </a>
         
      
      <a class="navbar-item" href="{%url 'newpost'%}">
      <i style="color: green;" class="material-icons">perm_media</i>
        New posts
      </a>

     <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          settings
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/accounts/password/change">
            change password
          </a>
          
          <a class="navbar-item" href="{% url 'signup' %}">
            Sign Up
          
          <a class="navbar-item" href="{% url 'welcome' %}">
            login
          </a>
             
          <a class="navbar-item" href="/logout">
            logout
          </a>
            </div>
            </div>
            
            <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search_profile' %}" >
             <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
            <i class="spinner "></i>
          </form>
          </a> 
            </div>
                </div>
</nav>