{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-content">
    <div class="media">
      <div class="media-left">
                    <img src="{{image.user.profile_picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                   alt="{{image.user.user.username}}" width="35" height="35">
                </div> 
            </div>
                <br>
                        
                <img src="{{image.image.url}}"class="card-img" width="200px" height="150px">
                       
                {% for comment in image.comments.all %}
                <p class="ml-3">No comments here yet</p>
                {% endfor %}
                
                <form class="form" action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">
                        <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
                         </div>
                        <div class="col-md-2 mt-4" >
                            <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-top:14px; margin-left:-10px">post</button>
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{% endblock %}