{%extends 'base.html'%}
{% load static%}
{% load bootstrap3 %}
{% block content %}


{{block.super}}

<div class="banner-1">
    <div class="cover-1">
            {% if profiles %}
            <h2 class="text-center">Found {{ results|length }} user{{ results|pluralize }}</h2>
            {% else %}
            <h2 class="text-center"> Found 0 user with username <strong>{{message}}</strong></h2>

            {% if profiles %}
            {% for profiles  in search %}
            <div class="panel-body">
				<div class="row">
					<div class="col-md-2">
						<a href="{% url 'profile'  %}"><img class="img-responsive img-circle" src="{{profile.profile_pic.url}}" alt="" style="width:50px; height:50px"></a>
					</div>
					<div class="col-md-10" style="padding-top:11px">
						<a href="{% url 'profile' %}">{{profile.user.username}}</a>
					</div>
				</div>
			</div>
            
            <div class="panel-body">
				<h3 class="text-center">There is no such user <strong>{{message}}</strong> exists!</h3>
			</div>

            {% endfor %}
            {% endif %}
        </div>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% endblock %}


            