{%extends "base.html"%}
{% load bootstrap3 %}
{% load static %}
{% block content %}

  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">

    <form method="post" action="" role="form">
    {% csrf_token %}
    <h3 class="title is-3" style="font-size: large; color: blue;">Create an account</h3>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium" style="font-size: small; color: black;">Username</label>
                {{ form.username }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium" style="font-size: small; color: black;">Email</label>
                {{ form.email }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium" style="font-size: small; color: black;">Password</label>
                {{ form.password }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium" style="font-size: small; color: black;">Confirm password</label>
                {{ form.confirm_password }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>

      <div class="field">
      <p class="control">
        <button type="submit" name="action" class="button is-success">
          Create
        </button>
      </p>
    </div>

                <div class="card mt-2">
                <div class="card-body mt-3 mb-2 mr-3 ml-3">
                    <p>Have an account? <a href="/accounts/login">Log in</a></p>
                </div>
            </div>
            <div container>
                <p class="text-center mt-4">Get the app</p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-2">
                      <img src="../static/css/images/insta2.png" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-5 mb-2">
                        <img src="../static/css/images/insta1.png" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
</div>
</div>


    </div>
  </section>

    </form>
  </div>

{% endblock %}  