{%extends 'base.html'%}
{% load static%}

{% block content %}
{{block.super}}

  
      {% for image in images %} 
      <body> 
    <div class="card-content">
    <div class="media">
      <div class="media-left">
                    <img src="{{image.user.profile_picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                   alt="{{image.user.user.username}}" width="35" height="35">
                </div> 
            </div>
                <br>
                        <img src="{{image.image.url}}"class="card-img" width="200px" height="150px">
                
    <div class="media-right">
      <a href="{% url 'likepage' %}"><i class="material-icons has-text-danger">favorite</i></a>
      <p>Likes</p>  
    </div>
    
        
        <span class="text-secondary ml-4 viewall"><a href="{% url 'one_post' %}">view all comments</a></span>
                <div class="allcomments mb-4">
                    {% for comment in image.comments.all|slice:'2' %}
                    <div class="comment">
                        <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                                class="text-secondary">{{ comment.comment }}</span>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <p class="text-secondary ml-4">{{image.created|timesince}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
{% endblock %}
