{%extends 'base.html'%}
{% load static%}

{% block content %}
{{block.super}}

  
      <body>

        <div class="row">
                <div class="col-md-4">
                    <div class="card mt-4 mr-2 ml-2">
                        <div class="card-title text-secondary mt-2 mr-2 ml-2 " s>Suggestions for you</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}"
                                         width="45px" height="45px">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                <p> {{user.user}} <button class="btn btn-success" class="button"  style="color:white; background-color: blue;">Follow</button> </p>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
<hr>

    {% for image in images %} 
    <div class="card-content">
    <div class="media">
      <div class="media-left">  
                <img src="{{image.image.url}}"class="card-img" width="200px" height="150px">
                
    <div class="media-right">
      <a href="{% url 'likepage' %}"><i class="material-icons has-text-danger">favorite</i></a>
      <p>Likes</p>  
    </div>
    
        
        <span class="text-secondary ml-4 viewall"><a href="{% url 'one_post' %}">view all comments</a></span>
                <div class="allcomments mb-4">
                    {% for comment in image.comments.all|slice:'2' %}
                    <div class="comment">
                        <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                                class="text-secondary">{{ comment.comment }}</span>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <p class="text-secondary ml-4">{{image.created|timesince}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
{% endblock %}

